*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background: rgb(238,174,202);
    background: radial-gradient( rgba(238,174,202,1) 20%, rgba(148,203,233,1) 100%);
}
nav{
    border-bottom: solid;
    border-color: white;
}
.nav-container ul{
    display: grid;
    box-shadow: 2px 0 2px 0 white;
    float: right;
    padding-right: 10px;
    
}
.nav-container li{
    text-decoration: none;
    cursor: pointer;
    /* white-space: pre-wrap; */
}
.nav-container{
    display: grid;
    grid-template-columns: 2fr ; 
    grid-template-rows: 2fr;
    /* background: rgb(238,174,202);
    background: linear-gradient(10deg, rgba(238,174,202,1)0%, rgba(148,203,233,1) 100%); */
    overflow: hidden;

}
.list{
    font-size: 20px;
    display: flex;
    border-radius: 1px;
    margin-left: 100px;
    color: white;
    flex-flow: nowrap;
    
}
a{
    text-decoration: none;
    color: white;
}
/* .nav-container:hover{

    cursor: pointer;
    
} */
.me{
    grid-column: 1;
    grid-row: 1;
}
.me:hover{
    box-shadow: 2px 2px 8px 0 white;
    border-radius: 4px;
}
.resume{
    grid-column: 2;
    grid-row: 1;
    
}
.resume:hover{
    box-shadow: 2px 2px 8px 0 white;
    border-radius: 4px;
}
.examples{
    grid-column: 3;
    grid-row: 1;
}
.examples:hover{
    box-shadow: 2px 2px 8px 0 white;
    border-radius: 4px;

}

.about-container{

    display: grid;
    grid-template-columns: repeat(2fr) ;
    grid-template-rows: repeat(auto);
    
    height: 100vh;
    background: rgb(238,174,202);
    background: radial-gradient( rgba(238,174,202,1) 20%, rgba(148,203,233,1) 100%);
}
.h1{
    margin-top: 10px;
    
    text-align: center;
    color: white;
    
}
.h1text{
    grid-row: 1;
    grid-column: span 2;
    
}



.metext{
    font-size: 20px;
    border: solid;
    border-color:white;
    border-radius: 15px;
    height: 100px;
    text-align: center;
    text-overflow: none;
    width: 300px;
    height: 200px;
    padding-top: 25px;
    justify-items: center;
    
    
}
/* .text{
    grid-column: 2;
    grid-row: 2;
} */

.text{
    grid-column: 2;
    grid-row: 2;
    margin: auto;
}
.text-contain{
    
    place-self: center;
}

.pfp-contain{
    grid-row: 2;
    grid-column: 1;
    margin: auto;
}

.pfp{
    width: 200px;
    height: 200px;
    
    place-self: center;
    
    border-radius: 15px;
}
nav:hover{
    box-shadow: 4px 0 8px 0 white;
}
.metext:hover{
    
    transform:scale(1.02); 
    border-radius: 15px;
    box-shadow: 1px 0 4px 0 white;
}
.pfp:hover{
    transform: scale(1.02);
    box-shadow: 2px 0 2px 0 white;
}



/*media queries*/
@media  screen and (max-width: 800px) {
    .about-container{
        display: grid;
        grid-template-columns: repeat(6fr);
        grid-template-rows: auto;
        align-items: center;
        justify-items: center;
    }
    
    .h1text{
        grid-row: 1 / 2;
        
        grid-column:1 / 6;
        
    }
    
    .pfp-contain {
        grid-column: 1 / 6;
        grid-row: 2 / 3;  
    }
    .pfp{
        margin: 0;   
    }
    
    .text{
        grid-row: 4;
        grid-column:1 / 6;
        
    }
    .text-contain{
        margin: 0;
        padding: 0;
        
    }
    
}