*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: radial-gradient( rgba(238,174,202,1) 20%, rgba(148,203,233,1) 100%);
    /* background-repeat: no-repeat;
    background-size: cover; */
    min-height: 100vh; 
    
}

.nav-container{
    border-bottom: solid;
    border-color: white;
    display: flex;
    justify-content: center;
    
}

.nav-container ul{
    display: flex;
    box-shadow: 2px 0 2px 0 white;
    float: right;
    padding-right: 10px;
    width: 100%;
}

.nav-container li{
    text-decoration: none;
    cursor: pointer;
}



.list{
    font-size: 20px;
    display: flex;
    border-radius: 1px;
    margin-left: 100px;
    color: white;
    flex-flow: nowrap;
    flex-grow: 2;
}

a{
    text-decoration: none;
    color: white;
}

.me{
    grid-column: 1;
    grid-row: 1;
}

.me:hover{
    box-shadow: 2px 2px 8px 0 white;
    border-radius: 4px;
}

.resume{
    grid-column: 2;
    grid-row: 1;
}

.resume:hover{
    box-shadow: 2px 2px 8px 0 white;
    border-radius: 4px;
}

.examples{
    grid-column: 3;
    grid-row: 1;
}

.examples:hover{
    box-shadow: 2px 2px 8px 0 white;
    border-radius: 4px;

}
.contact{
    float: right;
}
.hamburger{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    margin: auto;
}
.bar{
    
    width: 35px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
    border-radius: 1px;
}


.container{ 
    display: grid;
    grid-template-columns:auto-fit, minmax(250px, 1fr);
    grid-template-rows: repeat(auto);
    min-height: 100vh;
    justify-content: center;
    gap: 20px;
    
    
}
.item{
    border: none;   
    display: flex;
    justify-content: flex-start;
    
}
.input-item{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style:solid;
    background-color: transparent;
    border-color: black;
    
}

input:focus, textarea:focus, select:focus{
    outline: none;
}
.input-item{
    resize: none;
    
    border: none;
    border: solid;

}
#subBtn{
    background-color: transparent;
    border-radius: 5px;
    margin: auto;
    

}


.title{
    grid-row:1 / -1;
    grid-column:span 2;
    text-align: center;
    color: white;

}
    .name-item{
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: column;
}
.email-item{
    grid-row:3;
    grid-column: 1;
    display: flex;
    flex-direction: column;
}
.number-item{
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
}
#number-field{
    outline: 0;
}

.message-item{
    grid-row: 3;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    
    height: fit-content;
    
}

#message-counter{
    width: 100%;
    text-align: right;
}
.btn-item{
    grid-row:4;
    grid-column: span 2 ;
    
}

#email-field{

    font-size: 16px; 
}
#email-label{
    font-size: 16px;
    
}
#email-error{
    color: red;
}

/*media queries*/
@media  screen and (max-width: 800px) {
    
    nav{
        border: none;
    }
    
    .nav-container ul{
        box-shadow: none;
    }
    .nav-container{
        display: none;
        
    }
    .contact{
        float: right;
    }
    .list{
        margin: 5px;
        border-radius: 1px;
    } 
    .hamburger{
        display: flex; 
        flex-direction: column; 
        
    }
    
    .container{ 
        display: grid;
        grid-template-columns: 4fr(repeat);
        grid-template-rows: auto;
        width: 100%;
    }
    .title{
    grid-row:1;
    grid-column: 1 ;
    text-align: center;
    color: white;
        
    }
    .name-item{
        grid-row: 2 ;
        grid-column: 1 ;
    }
    .number-item{
        grid-row: 3;
        grid-column: 1;
    }
    .email-item{
        grid-row: 4;
        grid-column: 1 ;
    }
    .message-item{
        grid-row: 5;
        grid-column: 1 ;
    }
    #message-counter{
        font-size: 15px;
    }
    .btn-item{
        grid-row:6;
        grid-column: 1;
        text-align: center;
        
    }
    #subBtn{
        margin-right: 75%;
        
    }
}